# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import pandas as pd

# ajuste o caminho se o arquivo estiver em outra pasta
fname = "Profissão Cientista de Dados M7 A1 - demo01.csv"

df = pd.read_csv(fname)
# visão geral
display(df.head())
display(df.info())
display(df.describe(include='all').T)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

None

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sexo,16650,2,F,11201,NaN,NaN,NaN,NaN,NaN,NaN,NaN
posse_de_veiculo,16650,2,N,10178,NaN,NaN,NaN,NaN,NaN,NaN,NaN
posse_de_imovel,16650,2,Y,11176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qtd_filhos,16650.0,NaN,NaN,NaN,0.433153,0.739395,0.0,0.0,0.0,1.0,14.0
tipo_renda,16650,5,Working,8565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
educacao,16650,5,Secondary / secondary special,11245,NaN,NaN,NaN,NaN,NaN,NaN,NaN
estado_civil,16650,5,Married,11680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_residencia,16650,6,House / apartment,14974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
idade,16650.0,NaN,NaN,NaN,44.319513,11.228837,22.030137,34.873973,43.493151,53.410959,68.909589
tempo_emprego,16650.0,NaN,NaN,NaN,-161.416446,376.843912,-1000.665753,1.183562,4.691781,9.088356,42.906849
possui_celular,16650.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
possui_fone_comercial,16650.0,NaN,NaN,NaN,0.225225,0.417743,0.0,0.0,0.0,0.0,1.0
possui_fone,16650.0,NaN,NaN,NaN,0.295676,0.45636,0.0,0.0,0.0,1.0,1.0
possui_email,16650.0,NaN,NaN,NaN,0.088889,0.284592,0.0,0.0,0.0,0.0,1.0
qt_pessoas_residencia,16650.0,NaN,NaN,NaN,2.211892,0.903755,1.0,2.0,2.0,3.0,15.0
mau,16650,2,False,16260,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [10]:
import numpy as np
from scipy.stats import chi2_contingency
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

# 1) carregar a base
fname = "Profissão Cientista de Dados M7 A1 - demo01.csv"  # ajuste caminho se necessário
df = pd.read_csv(fname)
print("Arquivo carregado. Dimensão:", df.shape)
display(df.head())

# 1b) inspecionar colunas e tipos
print("Colunas:", df.columns.tolist())
display(df.info())

# 2) montar metadados
meta = pd.DataFrame({
    'variable': df.columns,
    'dtype': [str(df[col].dtype) for col in df.columns],
    'n_unique': [df[col].nunique(dropna=False) for col in df.columns],
    'n_missing': [df[col].isna().sum() for col in df.columns]
})

def var_type(col_series):
    if pd.api.types.is_numeric_dtype(col_series):
        return 'numérica'
    else:
        return 'categórica'

meta['type'] = [var_type(df[c]) for c in meta['variable']]

def papel(c):
    if c == 'renda':
        return 'variável resposta (renda)'
    if c == 'mau':
        return 'variável resposta (mau)'
    return 'explicativa'

meta['papel_no_modelo'] = [papel(c) for c in meta['variable']]

# adicionar qt_cat_categories (renomeando n_unique)
meta = meta.rename(columns={'n_unique': 'qt_cat_categories'})
display(meta)

# 3) criar dummies e preparar dataframe para scikit-learn
# remover colunas do tipo string que sejam IDs/texto longos (ajuste to_drop se necessário)
to_drop = []  # se tiver 'nome' ou 'id', adicione aqui: ['id', 'nome']
df_model = df.drop(columns=[c for c in to_drop if c in df.columns])

# detectar colunas categóricas
cat_cols = [c for c in df_model.columns if df_model[c].dtype == 'object' or df_model[c].dtype.name == 'category']
print("Colunas categóricas detectadas:", cat_cols)

# criar dummies (drop_first=True para evitar multicolinearidade)
df_dummies = pd.get_dummies(df_model, columns=cat_cols, drop_first=True)

# garantir que 'renda' e 'mau' são numéricas quando presentes
if 'renda' in df_dummies.columns and df_dummies['renda'].dtype == 'object':
    df_dummies['renda'] = pd.to_numeric(df_dummies['renda'].astype(str).str.replace(',','.'), errors='coerce')
if 'mau' in df_dummies.columns and df_dummies['mau'].dtype == 'object':
    df_dummies['mau'] = df_dummies['mau'].astype(str).str.lower().map({'sim':1,'s':1,'yes':1,'1':1,'true':1,'verdadeiro':1,'não':0,'nao':0,'n':0,'no':0,'0':0,'false':0}).astype(float)

print("Dataframe com dummies pronto. Dimensão:", df_dummies.shape)
display(df_dummies.head())

# 4) comparar posse_de_veiculo e posse_de_imovel para prever mau = 1
c1 = 'posse_de_veiculo'
c2 = 'posse_de_imovel'
target = 'mau'

# segurança: verificar se colunas existem
for col in [c1, c2, target]:
    if col not in df.columns and col not in df_dummies.columns:
        print(f"Aviso: coluna '{col}' não encontrada no dataset. Colunas disponíveis: {df.columns.tolist()}")
        
# tentar trabalhar com as versões em df (originais) quando possível
df_for_analysis = df.copy()

# converter colunas de posse e target para binário caso estejam em texto
def to_binary(series):
    if pd.api.types.is_numeric_dtype(series):
        return series
    s = series.astype(str).str.lower()
    return s.map({'sim':1,'s':1,'yes':1,'y':1,'1':1,'true':1,'t':1,'não':0,'nao':0,'n':0,'no':0,'0':0}).astype(float)

if c1 in df_for_analysis.columns:
    df_for_analysis[c1] = to_binary(df_for_analysis[c1])
if c2 in df_for_analysis.columns:
    df_for_analysis[c2] = to_binary(df_for_analysis[c2])
if target in df_for_analysis.columns:
    df_for_analysis[target] = to_binary(df_for_analysis[target])

# tabela cruzada entre c1 e c2 (se existirem)
if c1 in df_for_analysis.columns and c2 in df_for_analysis.columns:
    ct = pd.crosstab(df_for_analysis[c1], df_for_analysis[c2], margins=True)
    print("Tabela cruzada {} x {}:".format(c1, c2))
    display(ct)

# taxas de mau por categoria
def taxa_mau_por(col):
    if col not in df_for_analysis.columns or target not in df_for_analysis.columns:
        return pd.DataFrame()
    tab = df_for_analysis.groupby(col)[target].agg(['mean','count']).rename(columns={'mean':'taxa_mau','count':'n'})
    return tab.sort_values('taxa_mau', ascending=False)

print("Taxa mau por", c1)
display(taxa_mau_por(c1))
print("Taxa mau por", c2)
display(taxa_mau_por(c2))

# teste qui-quadrado (se possível)
if c1 in df_for_analysis.columns and target in df_for_analysis.columns:
    cont1 = pd.crosstab(df_for_analysis[c1], df_for_analysis[target])
    if cont1.size and cont1.shape[0] > 1 and cont1.shape[1] > 1:
        chi1 = chi2_contingency(cont1)
        print("Qui-quadrado {} vs {}: stat={:.4f}, p-value={:.4e}".format(c1, target, chi1[0], chi1[1]))
    else:
        print("Não é possível aplicar qui-quadrado para", c1)

if c2 in df_for_analysis.columns and target in df_for_analysis.columns:
    cont2 = pd.crosstab(df_for_analysis[c2], df_for_analysis[target])
    if cont2.size and cont2.shape[0] > 1 and cont2.shape[1] > 1:
        chi2r = chi2_contingency(cont2)
        print("Qui-quadrado {} vs {}: stat={:.4f}, p-value={:.4e}".format(c2, target, chi2r[0], chi2r[1]))
    else:
        print("Não é possível aplicar qui-quadrado para", c2)

# 5) AUC univariada para comparar poder preditivo (somente se target existir e for binário)
if target in df_dummies.columns:
    y = df_dummies[target].dropna()
    results = {}
    for col in [c1, c2]:
        # tentar encontrar colunas correspondentes em df_dummies (por exposição direta ou dummies)
        if col in df_dummies.columns:
            Xcol = df_dummies[[col]].fillna(0)
        else:
            # procurar dummies que comecem com o nome da coluna
            matched = [c for c in df_dummies.columns if c.startswith(col + "_")]
            if matched:
                Xcol = df_dummies[matched].fillna(0)
            else:
                print(f"Não encontrei variáveis para '{col}' em df_dummies. Pulando AUC para essa variável.")
                continue
        try:
            clf = LogisticRegression(max_iter=1000)
            auc = cross_val_score(clf, Xcol, y, cv=5, scoring='roc_auc', error_score='raise').mean()
            results[col] = auc
        except Exception as e:
            print("Erro ao calcular AUC para", col, ":", e)
    print("AUC univariada (maior = melhor):", results)
else:
    print("Coluna target 'mau' não está disponível em df_dummies para cálculo de AUC.")

# 6) salvar base preparada
outname = "demo01_preparada.csv"
df_dummies.to_csv(outname, index=False)
print("Base preparada salva em:", outname)

Arquivo carregado. Dimensão: (16650, 16)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

Colunas: ['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos', 'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade', 'tempo_emprego', 'possui_celular', 'possui_fone_comercial', 'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

None

,variable,dtype,qt_cat_categories,n_missing,type,papel_no_modelo
0,sexo,object,2,0,categórica,explicativa
1,posse_de_veiculo,object,2,0,categórica,explicativa
2,posse_de_imovel,object,2,0,categórica,explicativa
3,qtd_filhos,int64,8,0,numérica,explicativa
4,tipo_renda,object,5,0,categórica,explicativa
5,educacao,object,5,0,categórica,explicativa
6,estado_civil,object,5,0,categórica,explicativa
7,tipo_residencia,object,6,0,categórica,explicativa
8,idade,float64,5298,0,numérica,explicativa
9,tempo_emprego,float64,3005,0,numérica,explicativa
10,possui_celular,int64,1,0,numérica,explicativa
11,possui_fone_comercial,int64,2,0,numérica,explicativa
12,possui_fone,int64,2,0,numérica,explicativa
13,possui_email,int64,2,0,numérica,explicativa
14,qt_pessoas_residencia,float64,9,0,numérica,explicativa
15,mau,bool,2,0,numérica,variável resposta (mau)

Colunas categóricas detectadas: ['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia']
Dataframe com dummies pronto. Dimensão: (16650, 29)

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_M,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,True,...,True,True,False,False,False,True,False,False,False,False
1,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
2,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
3,0,46.224658,2.106849,1,1,1,1,2.0,False,True,...,False,True,False,False,False,True,False,False,False,False
4,0,29.230137,3.021918,1,0,0,0,2.0,False,False,...,False,True,False,False,False,True,False,False,False,False

Tabela cruzada posse_de_veiculo x posse_de_imovel:

posse_de_imovel    0.0    1.0    All
posse_de_veiculo
0.0               3245   6933  10178
1.0               2229   4243   6472
All               5474  11176  16650

Taxa mau por posse_de_veiculo

                  taxa_mau      n
posse_de_veiculo
0.0               0.024268  10178
1.0               0.022095   6472

Taxa mau por posse_de_imovel

                 taxa_mau      n
posse_de_imovel
0.0              0.029229   5474
1.0              0.020580  11176

Qui-quadrado posse_de_veiculo vs mau: stat=0.7243, p-value=3.9473e-01
Qui-quadrado posse_de_imovel vs mau: stat=11.6414, p-value=6.4500e-04
AUC univariada (maior = melhor): {'posse_de_veiculo': np.float64(0.5112853628536286), 'posse_de_imovel': np.float64(0.5417210710568645)}
Base preparada salva em: demo01_preparada.csv

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [3]:
meta.rename(columns={'n_unique': 'qt_cat_categories'}, inplace=True)
# se quiser adicionar títulos manualmente:
# meta['titulo'] = ['Título da variável X', ...]  # preencha conforme necessário
display(meta)

                 variable    dtype  qt_cat_categories  n_missing
0                    sexo   object                  2          0
1        posse_de_veiculo   object                  2          0
2         posse_de_imovel   object                  2          0
3              qtd_filhos    int64                  8          0
4              tipo_renda   object                  5          0
5                educacao   object                  5          0
6            estado_civil   object                  5          0
7         tipo_residencia   object                  6          0
8                   idade  float64               5298          0
9           tempo_emprego  float64               3005          0
10         possui_celular    int64                  1          0
11  possui_fone_comercial    int64                  2          0
12            possui_fone    int64                  2          0
13           possui_email    int64                  2          0
14  qt_pessoas_residencia  float64                  9          0
15                    mau     bool                  2          0

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [4]:
# selecionar variáveis explicativas potenciais (ajuste conforme meta/papel)
# exemplo: removendo colunas óbvias de id/texto
to_drop = []  # adicione nomes de colunas que não quer no modelo, ex: ['nome', 'id']
df_model = df.drop(columns=to_drop)

# converter colunas categóricas em dummies
cat_cols = [c for c in df_model.columns if df_model[c].dtype == 'object' or df_model[c].dtype.name == 'category']
df_dummies = pd.get_dummies(df_model, columns=cat_cols, drop_first=True)

# garantir que 'renda' e 'mau' estejam presentes; se 'renda' texto, converter para numérico
# exemplo de conversão segura
if 'renda' in df_dummies.columns and df_dummies['renda'].dtype == 'object':
    df_dummies['renda'] = pd.to_numeric(df_dummies['renda'].str.replace(',','.'), errors='coerce')

display(df_dummies.head())
display(df_dummies.shape)

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_M,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,True,...,True,True,False,False,False,True,False,False,False,False
1,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
2,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
3,0,46.224658,2.106849,1,1,1,1,2.0,False,True,...,False,True,False,False,False,True,False,False,False,False
4,0,29.230137,3.021918,1,0,0,0,2.0,False,False,...,False,True,False,False,False,True,False,False,False,False

(16650, 29)

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [5]:
# assumir colunas exatas 'posse_de_veiculo', 'posse_de_imovel', 'mau'
# se forem categóricas 'sim'/'nao' ou 0/1, adaptar conforme dataset
c1 = 'posse_de_veiculo'
c2 = 'posse_de_imovel'
target = 'mau'

# garantir valores binários (0/1) para facilitar cálculo de taxas
# exemplo de conversão genérica
for c in [c1, c2, target]:
    if c in df.columns and df[c].dtype == 'object':
        df[c] = df[c].str.lower().map({'sim':1, 's':1, 'yes':1, '1':1, 'não':0, 'nao':0, 'n':0, 'no':0}).astype('float')

# tabela cruzada entre posse_de_veiculo e posse_de_imovel
ct = pd.crosstab(df[c1], df[c2], margins=True)
display(ct)

# cálculo de taxa mau=1 por categoria de cada variável
def taxa_mau_por(col):
    tab = df.groupby(col)[target].agg(['mean','count']).rename(columns={'mean':'taxa_mau','count':'n'})
    tab['taxa_mau'] = tab['taxa_mau']  # já é proporção se target é 0/1
    return tab.sort_values('taxa_mau', ascending=False)

display(taxa_mau_por(c1))
display(taxa_mau_por(c2))

posse_de_imovel    0.0   All
posse_de_veiculo
0.0               3245  3245
All               3245  3245

                  taxa_mau      n
posse_de_veiculo
0.0               0.024268  10178

                 taxa_mau     n
posse_de_imovel
0.0              0.029229  5474

In [6]:
from scipy.stats import chi2_contingency

# diferença de taxa entre grupos mais simples
tab1 = taxa_mau_por(c1)
tab2 = taxa_mau_por(c2)

# teste qui-quadrado entre cada variável e target
cont1 = pd.crosstab(df[c1], df[target])
cont2 = pd.crosstab(df[c2], df[target])
chi1 = chi2_contingency(cont1) if cont1.shape == (2,2) or cont1.shape[1] >= 2 else (None,)
chi2 = chi2_contingency(cont2) if cont2.shape == (2,2) or cont2.shape[1] >= 2 else (None,)

print("Tabela posse_de_veiculo vs mau")
display(cont1)
print("Qui-quadrado posse_de_veiculo:", chi1[0:2])

print("Tabela posse_de_imovel vs mau")
display(cont2)
print("Qui-quadrado posse_de_imovel:", chi2[0:2])

Tabela posse_de_veiculo vs mau

mau               False  True
posse_de_veiculo
0.0                9931    247

Qui-quadrado posse_de_veiculo: (0.0, 1.0)
Tabela posse_de_imovel vs mau

mau              False  True
posse_de_imovel
0.0               5314    160

Qui-quadrado posse_de_imovel: (0.0, 1.0)

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, make_scorer

# X com apenas posse_de_veiculo
X1 = pd.get_dummies(df[[c1]].fillna(0), drop_first=True)
X2 = pd.get_dummies(df[[c2]].fillna(0), drop_first=True)
y = df[target].fillna(0)

clf = LogisticRegression(max_iter=1000)

auc1 = cross_val_score(clf, X1, y, cv=5, scoring='roc_auc').mean()
auc2 = cross_val_score(clf, X2, y, cv=5, scoring='roc_auc').mean()

print(f"AUC com {c1}: {auc1:.4f}")
print(f"AUC com {c2}: {auc2:.4f}")

AUC com posse_de_veiculo: 0.5000
AUC com posse_de_imovel: 0.5000

In [8]:
outname = "demo01_preparada.csv"
df_dummies.to_csv(outname, index=False)
print("Salvo em:", outname)

Salvo em: demo01_preparada.csv